.navbar {  
    background-color: #89AFA4;
    }

.margin {
    background-color: #efefef;
    padding-top: 5px;
} 

.jumbotron {
    background-color: #FEDCD2;
     margin-top: 80px;
}
.btn {
    border-color: #151313;
}

.btn-outline-success {
    color: #151313; 
}

.sobre {
    background-color:#ffffff;
    padding-top: 40px;
}

.rounded-circle {
    border-color: darkred;

}

.img {
    border-color: #151313;

}

