.navbar { 
    background-color: beige;
   
  

    }

body {
    background-image: url(../img/roxo.jpg);


    }
 
 

.jumbotron {
    color: #FFFFFF;
    background-image: url(../img/roxo.jpg);
    margin-top: 5px;
    background-size: cover;

}
.btn {
    border-color: #FFFFFF;
}

.btn-outline-success {
    color: #FFFFFF; 
}

.rounded-circle {
    border-style: solid;
    border-width: 8px;
    border-color: #FFFFFF;
}

.redes {
    transition: all 0.2s ease-out;

}

.redes:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 5px 30px 16px 0px rgba( 50,50,50,0,45);

}

footer {
    background-color: #23B14D;
    color: #FFFFFF;
    width: 50px;
    height: 50px;



}

.sobre#mim {
    background-color: #FFFFFF;

}

.masthead-avatar    {
    margin-top: 60px;
    width: 300px;
    height: 300px;

}

.row    {
    background-color: #FFFFFF;

} 