.navbar {  
    background-color: #89AFA4;
    }
 

.jumbotron {
    background-color: #FEDCD2;
    margin-top: 5px;
    background-image: url(../img/background3.png);
    background-size: cover;

}
.btn {
    border-color: #151313;
}

.btn-outline-success {
    color: #151313; 
}

.rounded-circle {
    border-style: solid;
    border-width: 8px;
    border-color: #89AFA4;
}

.redes {
    transition: all 0.2s ease-out;

}

.redes:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 5px 30px 16px 0px rgba( 50,50,50,0,45);

}